orsource "eth_ctrl/Kconfig.inc"
orsource "mqtt_ctrl/Kconfig.inc"
orsource "cfg_ctrl/Kconfig.inc"
orsource "cli_ctrl/Kconfig.inc"
orsource "gpio_ctrl/Kconfig.inc"
orsource "relay_ctrl/Kconfig.inc"
orsource "lcd_ctrl/Kconfig.inc"
orsource "sys_ctrl/Kconfig.inc"
orsource "sensors_ctrl/Kconfig.inc"
orsource "template_ctrl/Kconfig.inc"
