menu "Log Level"

    orsource "./Kconfig.main"
    orsource "./Kconfig.mgr"

    if ETH_CTRL_ENABLE
        orsource "./Kconfig.eth"
    endif

    if MQTT_CTRL_ENABLE
        orsource "./Kconfig.mqtt"
    endif

    if GPIO_CTRL_ENABLE    
        orsource "./Kconfig.gpio"
    endif

    if POWER_CTRL_ENABLE    
        orsource "./Kconfig.power"
    endif

    if RELAY_CTRL_ENABLE
        orsource "./Kconfig.relay"
    endif

    if CFG_CTRL_ENABLE
        orsource "./Kconfig.cfg"
    endif

    if SYS_CTRL_ENABLE
        orsource "./Kconfig.sys"
    endif

    if CLI_CTRL_ENABLE
        orsource "./Kconfig.cli"
    endif

endmenu
