menu "Heater Controller - Manager"

    orsource "./Kconfig.level"

    config ETH_CTRL_ENABLE
        bool "Enable Ethernet Controller"
        default "y"
        help
            Enable Ethernet Controller to use by the Manager

    config CLI_CTRL_ENABLE
        bool "Enable CLI Controller"
        default "y"
        help
            Enable CLI Controller to use by the Manager

    config GPIO_CTRL_ENABLE
        bool "Enable GPIO Controller"
        default "y"
        help
            Enable GPIO Controller to use by the Manager

    config POWER_CTRL_ENABLE
        bool "Enable Power Controller"
        default "y"
        help
            Enable Power Controller to use by the Manager

    config MQTT_CTRL_ENABLE
        bool "Enable MQTT Controller"
        default "y"
        help
            Enable MQTT Controller to use by the Manager

    config TEMPLATE_CTRL_ENABLE
        bool "Enable Template Controller"
        default "n"
        help
            Enable Template Controller to use by the Manager

endmenu