menu "POWER Controller Log Level"
    choice POWER_CTRL_LOG_LEVEL
        bool "POWER log verbosity"
        default POWER_CTRL_LOG_DEFAULT_LEVEL_INFO
        help
            Specify how much output to see in logs by default.
            You can set lower verbosity level at runtime using
            esp_log_level_set() function if LOG_DYNAMIC_LEVEL_CONTROL
            is enabled.

            By default, this setting limits which log statements
            are compiled into the program. For example, selecting
            "Warning" would mean that changing log level to "Debug"
            at runtime will not be possible. To allow increasing log
            level above the default at runtime, see the next option.

        config POWER_CTRL_LOG_DEFAULT_LEVEL_NONE
            bool "No output"
        config POWER_CTRL_LOG_DEFAULT_LEVEL_ERROR
            bool "Error"
        config POWER_CTRL_LOG_DEFAULT_LEVEL_WARN
            bool "Warning"
        config POWER_CTRL_LOG_DEFAULT_LEVEL_INFO
            bool "Info"
        config POWER_CTRL_LOG_DEFAULT_LEVEL_DEBUG
            bool "Debug"
        config POWER_CTRL_LOG_DEFAULT_LEVEL_VERBOSE
            bool "Verbose"
    endchoice

    config POWER_CTRL_LOG_LEVEL
        int
        default 0 if POWER_CTRL_LOG_DEFAULT_LEVEL_NONE
        default 1 if POWER_CTRL_LOG_DEFAULT_LEVEL_ERROR
        default 2 if POWER_CTRL_LOG_DEFAULT_LEVEL_WARN
        default 3 if POWER_CTRL_LOG_DEFAULT_LEVEL_INFO
        default 4 if POWER_CTRL_LOG_DEFAULT_LEVEL_DEBUG
        default 5 if POWER_CTRL_LOG_DEFAULT_LEVEL_VERBOSE
endmenu